
h3{
    color:black;
    text-align:left;
}
h1{

    color:white;
    text-align: center;
}

body{
    background-color:black;
    margin:0px;
}
h2{
    color:white;
    text-align: center; 
}
.navbar{
  overflow: hidden;
  background-color:white;
  position: fixed;
  top: 0;
  width: 100%;    
}
.pics{
    margin:1px;
    padding: 1px;
}
.gallery{
  
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.gallery img{
    height:350px;
    width: 500px;
    padding:1px;
}
h2{
    color:white;
    text-align: center; 
}
.pics2{
    margin:2px;
    padding: 1px;
}
.gallery2 {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.gallery2 img{
    height:250px;
    width: 300px;
    padding:1px;
}

